name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        ruby: ["2.7", "3.0", "3.1", "3.2", "3.3", "3.4", "4.0"]
        gemfile:
          - gemfiles/rubocop_1.72.gemfile
          - gemfiles/rubocop_1.73.gemfile
          - gemfiles/rubocop_1.74.gemfile
          - gemfiles/rubocop_1.75.gemfile
          - gemfiles/rubocop_1.76.gemfile
          - gemfiles/rubocop_1.77.gemfile
          - gemfiles/rubocop_1.78.gemfile
          - gemfiles/rubocop_1.79.gemfile
          - gemfiles/rubocop_1.80.gemfile
          - gemfiles/rubocop_1.81.gemfile
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run Test
        run: bundle exec rake
