name: Test
on: [push, pull_request]
jobs:
  test:
    strategy:
      matrix:
        ruby: [2.5, 2.6, 2.7, 3.0]
        gemfile:
          - gemfiles/rubocop_1.19.gemfile
          - gemfiles/rubocop_1.20.gemfile
          - gemfiles/rubocop_1.21.gemfile
          - gemfiles/rubocop_1.22.gemfile
          - gemfiles/rubocop_1.23.gemfile
          - gemfiles/rubocop_1.24.gemfile
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Run Test
      run: bundle exec rake
